
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<header>
    <h1>
        <img src="images/Pic1.jpg" height="100" width="100"/>Online Game Event Web Portal
       </h1>
       <hr/>
       <nav>
           | Home | Players | Games | Events |
       </nav>
</header>