<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   <table width="100%" height="100%" border="1">
       <tr>
            <th width="100%">
                @Html.Partial("EventHeader")
            </th>
       </tr>
       <tr>
            <th width="100%">
                @RenderBody()
            </th>
       </tr>
       <tr>
            <th width="100%">
                @Html.Partial("EventFooter")
            </th>
       </tr>
   </table>
</body>
</html>


<div>
    
</div>
